{% extends "muvix/layout.html" %}
{% load static %}

{% block body %}
    <div id="now-playing-view">
    </div>
    <div id="coming-soon-view">
    </div>
{% endblock %}

{% block script %}
    <script type="module">
        import { viewMovies } from "{% static 'muvix/index.js' %}";

        document.addEventListener('DOMContentLoaded', () => {
            const params = new URLSearchParams(location.search);
            const type = params.get('tab') === 'soon' ? 'soon' : 'playing';
            viewMovies(type)
        });
    </script>
{% endblock %}